<center>
	<h4>Voici tout les invités</h4>
</center>
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">FIRST_NAME</th>
      <th scope="col">LAST_NAME</th>
      <th scope="col">EMAIL</th>
    </tr>
  </thead>
  <tbody>
    <%@attendance.each do |i|%>
    <tr>
      <td><%=i.first_name%></td>
      <td><%=i.last_name%></td>
      <td><%=i.email%></td>
    </tr>
    <%end%>
  </tbody>
</table>

<a class="btn btn-primary" href="/events/<%=@event.id%>/edit">Editer l'événement</a>
<span class="btn btn-danger">
  <%= link_to 'Suprimée', events_path(@event.id),
           method: :delete,
           data: { confirm: 'Are you sure?' } %>
</span>






